# Cmake build routine
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# IDEs
.vscode/
vs/.vs/
vs/Khala

bin/Khala
bin/*.exe
bin/*.ilk
bin/TechTree.json
*.tlog
*.obj
vs/RelWithDebInfo/Khala.log
*.log
*.pdb
